<div class="row">
  <div class="col-12 mb-4 mb-lg-0">
    <div class="card">
      <h5 class="card-header">Players Data Table</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Experience</th>
                <th scope="col">Level</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% players.forEach(function(player){ %>
              <tr>
                <th scope="row"><%= player.id %></th>
                <td><%= player.username %></td>
                <td><%= player.email %></td>
                <td><%= player.experience %></td>
                <td><%= player.lvl %></td>
                <td>
                  <a
                    href="/dashboard/delete/players/<%= player.id %>"
                    class="btn btn-sm btn-primary"
                    >Delete</a
                  >
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    Edit Player
                  </button>
                  <!-- Modal -->

                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <form
                      action="/dashboard/edit/players/<%= player.id %>"
                      method="post"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Edit User
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input
                                type="text"
                                id="loginName"
                                class="form-control"
                                placeholder="Username"
                                name="username"
                                value="<%= player.username %>"
                              />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input
                                type="password"
                                id="loginPassword"
                                class="form-control"
                                placeholder="Password"
                                name="password"
                              />
                            </div>

                            <!-- email input -->
                            <div class="form-outline mb-4">
                              <input
                                type="email"
                                id="email"
                                class="form-control"
                                placeholder="Email"
                                name="email"
                                value="<%= player.email %>"
                              />
                            </div>

                            <!-- Submit button -->
                            <div class="d-grid col-12 mx-auto"></div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Edit
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
        <a href="#" class="btn btn-block btn-light">View all</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4">
    <!-- Another widget will go here -->
  </div>
</div>
