<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bootstrap 5 Simple Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <%- include("components/navbar.ejs") %>
    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebar"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <!-- sidebar content goes in here -->
          <%- include("components/sidebar.ejs") %>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Overview
              </li>
            </ol>
          </nav>
          <h1 class="h2">Dashboard</h1>
          <p>This is the homepage of a simple Bi Game admin interface</p>
          <!-- cards -->
          <%- include("components/cards.ejs", {players, topExperiencePlayer,
          topLevelPlayer, percentagePlayerGain}) %>
          <!-- Cards -->

          <!-- table -->
          <%- include("components/table.ejs", {players}) %>
          <!-- table -->
          <%- include("components/footer.ejs") %>
        </main>
      </div>
    </div>

    <!-- insert scripts here -->

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
